{% extends 'advert_base.html' %}
{% block content %}
{% load static %}
<section style="background: #CDCCCD; border-radius: 30px; margin: 15px; margin-top: 110px;">
  <div style="margin: 20px;">
    <div class="py-5 text-center">
      <h1><b>Shopping <span class="text-light">Cart List</span></b></h1>
      <p class="lead">Below is the list of the products you wish to buy from us and if you are a valued customer, you can enter the promo code for discounts.</p>
    </div>
    <div class="row g-5">
      <div class="home-alert">
        {% include 'includes/alerts.html' %}
      </div>
      {% if product_orders %}
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-danger">Your cart</span>
          <span class="badge bg-danger rounded-pill">{{total_products_quantity}}</span>
        </h4>
        <ul class="list-group mb-3">
          {% for product_order in product_orders %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{product_order.product.name}}</h6>
              <small class="text-muted">{{product_order.product.category}}</small>
            </div>
            <span class="text-muted">Ksh {{product_order.product.new_price}} x {{product_order.quantity}}</span>
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (Ksh)</span>
            <strong>{{total_products_price}}</strong>
          </li>
        </ul>
        <form class="card p-2" method='POST'>
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" name="promo_code" placeholder="Promo code">
            <button type="submit" class="btn btn-danger">Redeem</button>
          </div>
        </form>

        <a href="{% url 'checkout' %}"><button class="w-100 btn btn-primary btn-lg" style="margin-top: 10px;">Continue to checkout</button></a>

      </div>
      <div class="col-md-7 col-lg-8">
        {% for product_order in product_orders %}
        <div class="article row">
          <div class="col-sm-4">
            <img  style="width: 80%; border-radius: 10px;" src="{{product_order.product.image.url}}" alt="">
          </div>
          <div class="col-sm-8">
            <h4 class="title" style="color: #d45b5f;">{{product_order.product.name}}</h4>
            <p>{{product_order.product.description}}</p>
            <h4 class="card-title pricing-card-title">Ksh {{product_order.product.new_price}} {% if product_order.product.old_price %}<small class="text-decoration-line-through fw-light text-secondary-emphasis">Ksh {{product_order.product.old_price}}</small>{% endif %}</h4>
            
            <p><a href="{% url 'remove_from_cart' product_id=product_order.product.id %}" type="button" class="btn btn-md btn-primary">Remove item</a><span style="float: right;"><a href="{% url 'add_to_cart' product_id=product_order.product.id %}" class="btn btn-md"><span class="badge bg-danger" style="font-size: 20px;">+</span></a> {{product_order.quantity}} <a href="{% url 'reduce_from_cart' product_id=product_order.product.id %}" class="btn btn-md"><span class="badge bg-danger" style="font-size: 20px;">-</span></a></span></p>
          </div> 
        </div>
        {% endfor %}         
      </div>
      {% endif%}
    </div>
  </div>
</section>
{% endblock %}
