{% extends 'advert_base.html' %}
{% block content %}
{% load static %}
<section style="background: #CDCCCD; border-radius: 30px; margin: 15px; margin-top: 110px;">
    <div class="card-body">
        <h1 class="text-center"><b>Post <span class="text-light">Product</span></b></h1>
        <p class="card-description text-center">
        This form allows you to post the product you want to sell on our platform
        </p>
        {% include 'includes/alerts.html' %}
        <form class="forms-sample" method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" class="form-control" name="name" placeholder="eg Vitron Smart 32 FRAMELESS Android TV HTC3200S Netflix & Youtube." required>
            </div>
            <div class="form-group">
                <label for="productDescription">Product Description</label>
                <textarea class="form-control" name="description" placeholder="The HTC3200S VITRON 32 inch, HD Smart Android LED TV features sharply and vividly conveys the colour of the image making it true to life as you view it." rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label>Upload Image</label>
                <input type="file" name="image" class="file-upload-default" required>
                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
            </div>
            <div class="form-group">
                <label for="exampleSelectGender">Product Type</label>
                <select class="form-control" name="category" required>
                    <option>TV & Audio</option>
                    <option>Phone & Tablet</option>
                    <option>Fashion</option>
                    <option>Gaming</option>
                    <option>Appliance</option>
                    <option>Computing</option>
                    <option>Baby Product</option>
                    <option>Phone & Tablet</option>
                    <option>Health & Beauty</option>
                    <option>Sporting Good</option>
                    <option>Furniture</option>
                </select>
            </div>
            <div class="form-group">
                <label for="productOldPrice">Product's Old Price</label>
                <input type="number" min="0" step="1" class="form-control" name="old_price" placeholder="eg 38000">
            </div>
            <div class="form-group">
                <label for="productNewPrice">Product's New Price</label>
                <input type="number" min="0" step="1" class="form-control" name="new_price" placeholder="eg 35000" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary me-2">Post</button>
            <a class="btn btn-light" href="{% url 'home' %}">Cancel</a>
        </form>
    </div>
</section>
{% endblock %}