{% extends 'advert_base.html' %}
{% block content %}
{% load static %}
<!-- Latest Products -->
<section {% if user.is_authenticated %} style="background: #CDCCCD; border-radius: 30px; margin: 15px; margin-top: 110px;" {% else%} style="background: #CDCCCD; border-radius: 30px; margin: 15px;" {% endif %}>
  <div class="latest-products text-center">
    <h1><b>Latest <span class="text-light">Products</span></b></h1>
    <div  style=" border-style: dashed; border-color: #d45b5f; margin: 15px;">
      <a href="#">All categories<img style="width: 20px; margin-left: 20px;" src="{% static 'images/arrow-alt-right.svg' %}" alt=""></a>
    </div>
    <div class="search-bar">
      <form class="form" action="{% url 'search' %}" method="get">
        <i class="fa fa-search" aria-hidden="true" style="color: rgb(180, 10, 10); font-size: 25px;"></i>
        <div class="category">
          <label for="lname">Category:</label>
          <select name="category" id="category">
            <option>TV & Audio</option>
            <option>Phone & Tablet</option>
            <option>Fashion</option>
            <option>Gaming</option>
            <option>Appliance</option>
            <option>Computing</option>
            <option>Baby Product</option>
            <option>Phone & Tablet</option>
            <option>Health & Beauty</option>
            <option>Sporting Good</option>
            <option>Furniture</option>
          </select>
        </div>
        <div class="price">
          <label for="lname">Price:</label>
          <input type="number" min="0" step="1" placeholder="eg 10000" value=0 name="price">
          <button class="search main-btn" type="submit">Search</button>
        </div>
      </form>
    </div>
    {% include 'includes/messages.html' %}
    <div class="latest-products-wrapper row" style="margin: 25px 25px;">
      {% for product in category_results %}
      <div class="product col-md-2" style="border-radius: 10px; background: #F6F7F9; margin-left: 10px; margin-bottom: 10px;">
        <img style="margin-top: 10px; width: 100%" src="{{product.image.url}}" alt="">
        <h5 class="title">{{product.name}}</h5>
        <p>{{product.description}}</p>
        <h6 class="card-title pricing-card-title fw-bold fst-italic">Ksh {{product.new_price}} {% if product.old_price %}<small class="text-decoration-line-through fw-light text-secondary-emphasis">Ksh {{product.old_price}}</small>{% endif %}</h6>
        <a href="{% url 'add_to_cart' product_id=product.id %}" style="margin-bottom: 10px;" type="button" class="btn btn-md btn-primary text-light">Add to Cart</a>
      </div>
      {% endfor %}
    </div>

    <br>
    <!-- Pagination -->
    {% if category_results.has_other_pages %}
      <div class="text-center text-light">
        Page {{category_results.number}} of {{category_results.paginator.num_pages}}
      </div>
      <ul class="pagination justify-content-center">
        {% if category_results.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{category_results.previous_page_number}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        {% endif %}
        
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>

        {% if category_results.has_next and category_results.paginator.num_pages != 3 and category_results.paginator.num_pages != 2 %}
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="?page={{category_results.paginator.num_pages}}">{{category_results.paginator.num_pages}}</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{category_results.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

    <br>
    
  </div>
</section>

<!-- Achievements --> 
<section class="achievements">
  <div class="container">
    <h2>Don't Just Take <br>
      our Word for it!
    </h2>
    <div class="achievement-items">
      <div class="item" data-aos="zoom-in" data-aos-delay="250">
        <p class="number">570</p>
        <p class="name">Orders</p>
      </div>
      <div class="item" data-aos="zoom-in" data-aos-delay="300">
        <p class="number">{{users}}</p>
        <p class="name">Active User</p>
      </div>
      <div class="item" data-aos="zoom-in" data-aos-delay="250">
        <p class="number">570</p>
        <p class="name">Positive Feedback</p>
      </div>
      <div class="item" data-aos="zoom-in" data-aos-delay="300">
        <p class="number">570</p>
        <p class="name">+ rating</p>
      </div>
    </div>
  </div>
</section> 
{% endblock %}